# Grouping and Summarising Dataframes

Grouping and aggregation are some of the most frequently used operations in data analysis, especially while doing exploratory data analysis (EDA), where comparing summary statistics across groups of data is common.

For e.g., in the retail sales data we are working with, you may want to compare the average sales of various regions, or compare the total profit of two customer segments. 

Grouping analysis can be thought of as having three parts:
1. **Splitting** the data into groups (e.g. groups of customer segments, product categories, etc.)
2. **Applying** a function to each group (e.g. mean or total sales of each customer segment)
3. **Combining** the results into a data structure showing the summary statistics

Let's work through some examples.

In [2]:
# Loading libraries and files
import numpy as np
import pandas as pd

market_df = pd.read_csv("market_fact.csv")
customer_df = pd.read_csv("cust_dimen.csv")
product_df = pd.read_csv("prod_dimen.csv")
shipping_df = pd.read_csv("shipping_dimen.csv")
orders_df = pd.read_csv("orders_dimen.csv")

Say you want to understand how well or poorly the business is doing in various customer segments, regions, product categories etc. Specifically, you want to identify areas of business where you are incurrring heavy losses, and want to take action accordingly.

To do that, we will answer questions such as:
* Which customer segments are the least profitable?
* Which product categories and sub-categories are the least profitable?
* Customers in which geographic region cause the most losses?
* Etc.

First, we will merge all the dataframes, so we have all the data in one ```master_df```.

In [4]:
# Merging the dataframes one by one
df_1 = pd.merge(market_df, customer_df, how='inner', on='Cust_id')
df_2 = pd.merge(df_1, product_df, how='inner', on='Prod_id')
df_3 = pd.merge(df_2, shipping_df, how='inner', on='Ship_id')
master_df = pd.merge(df_3, orders_df, how='inner', on='Ord_id')

master_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,36262,EXPRESS AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011,37863,24-02-2011,HIGH
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,...,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012,53026,26-02-2012,LOW

#### Step 1. Grouping using ```df.groupby()```

Typically, you group the data using a categorical variable, such as customer segments, product categories, etc. This creates as many subsets of the data as there are levels in the categorical variable. 

For example, in this case, we will group the data along ```Customer_Segment```.

In [11]:
# Which customer segments are the least profitable? 

# Step 1. Grouping: First, we will group the dataframe by customer segments
df_by_segment = master_df.groupby('Customer_Segment')
df_by_segment.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,36262,EXPRESS AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011,37863,24-02-2011,HIGH
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,...,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012,53026,26-02-2012,LOW
5,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,...,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36992,EXPRESS AIR,09-12-2009,36992,07-12-2009,MEDIUM
6,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,...,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",13920,REGULAR AIR,10-10-2009,13920,09-10-2009,CRITICAL
7,Ord_4143,Prod_6,SHP_5770,Cust_1417,901.32,0.10,25,338.01,5.08,0.38,...,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,PAPER,13920,EXPRESS AIR,11-10-2009,13920,09-10-2009,CRITICAL
8,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.09,0.09,9,-13.53,3.37,0.57,...,WEST,SMALL BUSINESS,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",55554,REGULAR AIR,17-11-2009,55554,16-11-2009,CRITICAL
9,Ord_4796,Prod_6,SHP_6686,Cust_1659,122.09,0.04,6,-15.20,9.54,0.37,...,WEST,SMALL BUSINESS,OFFICE SUPPLIES,PAPER,55554,REGULAR AIR,17-11-2009,55554,16-11-2009,CRITICAL
10,Ord_4796,Prod_13,SHP_6687,Cust_1659,150.06,0.02,49,30.97,0.70,0.56,...,WEST,SMALL BUSINESS,OFFICE SUPPLIES,PENS & ART SUPPLIES,55554,REGULAR AIR,19-11-2009,55554,16-11-2009,CRITICAL
11,Ord_1854,Prod_16,SHP_2548,Cust_727,182.47,0.05,17,-3.18,3.37,0.57,...,ATLANTIC,SMALL BUSINESS,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",48455,REGULAR AIR,03-06-2009,48455,02-06-2009,CRITICAL
12,Ord_1854,Prod_6,SHP_2548,Cust_622,817.53,0.03,34,76.63,11.54,0.39,...,ATLANTIC,SMALL BUSINESS,OFFICE SUPPLIES,PAPER,48455,REGULAR AIR,03-06-2009,48455,02-06-2009,CRITICAL
14,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,...,YUKON,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",19524,REGULAR AIR,15-01-2010,19524,14-01-2010,CRITICAL
23,Ord_2471,Prod_16,SHP_3386,Cust_965,90.93,0.05,43,-72.50,2.56,0.55,...,QUEBEC,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36355,REGULAR AIR,03-12-2009,36355,02-12-2009,MEDIUM
24,Ord_2471,Prod_13,SHP_3386,Cust_965,125.95,0.00,10,15.73,2.36,0.55,...,QUEBEC,HOME OFFICE,OFFICE SUPPLIES,PENS & ART SUPPLIES,36355,REGULAR AIR,03-12-2009,36355,02-12-2009,MEDIUM
61,Ord_4640,Prod_16,SHP_6462,Cust_1597,55.44,0.09,16,-21.91,1.32,0.83,...,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36647,REGULAR AIR,01-07-2009,36647,30-06-2009,HIGH
62,Ord_4640,Prod_7,SHP_6462,Cust_1597,179.98,0.01,21,38.70,2.82,0.40,...,WEST,CONSUMER,OFFICE SUPPLIES,RUBBER BANDS,36647,REGULAR AIR,01-07-2009,36647,30-06-2009,HIGH
63,Ord_4640,Prod_1,SHP_6463,Cust_1597,174.62,0.10,18,-119.77,9.45,0.60,...,WEST,CONSUMER,OFFICE SUPPLIES,STORAGE & ORGANIZATION,36647,REGULAR AIR,03-07-2009,36647,30-06-2009,HIGH
64,Ord_1862,Prod_16,SHP_2556,Cust_635,100.08,0.08,49,-85.58,2.56,0.55,...,ATLANTIC,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",57638,REGULAR AIR,24-04-2012,57638,22-04-2012,LOW

In [19]:
df_by_ship_id = pd.pivot_table(master_df, index ='Ship_id', aggfunc='mean')
df_by_ship_id

,Discount,Order_ID_x,Order_ID_y,Order_Quantity,Product_Base_Margin,Profit,Sales,Shipping_Cost
Ship_id,,,,,,,,
SHP_1,0.040,3,3,6.0,0.800,-213.250,261.5400,35.00
SHP_10,0.025,807,807,38.5,0.465,-90.590,160.7050,4.09
SHP_100,0.050,11941,11941,26.0,0.740,111.520,4679.1000,29.21
SHP_1000,0.030,14471,14471,44.0,0.390,375.020,823.6300,3.77
SHP_1001,0.050,14471,14471,42.0,0.370,-141.510,286.7300,7.49
SHP_1002,0.100,14529,14529,44.0,0.660,-821.870,3819.4200,42.00
SHP_1003,0.050,14529,14529,42.0,0.510,24.870,208.7800,2.03
SHP_1004,0.000,14948,14948,6.0,0.620,-144.870,647.7800,35.84
SHP_1005,0.030,16161,16161,49.0,0.550,768.320,2692.6895,4.20
SHP_1006,0.030,16161,16161,38.0,0.390,60.630,151.1900,0.71
SHP_1007,0.030,16257,16257,16.0,0.360,16.330,102.7300,2.50
SHP_1008,0.100,16806,16806,4.0,0.640,-132.150,167.3700,4.00
SHP_1009,0.000,16806,16806,18.0,0.590,-201.050,1026.6385,19.99
SHP_101,0.020,12096,12096,46.0,0.590,2332.400,8009.5925,8.08
SHP_1010,0.010,17344,17344,40.0,0.590,571.540,2405.4575,7.69
SHP_1011,0.010,17382,17382,20.0,0.590,223.250,2162.8165,8.99
SHP_1012,0.040,17507,17507,27.0,0.580,48.130,399.7600,3.50
SHP_1013,0.100,17507,17507,22.0,0.560,353.720,5393.2700,28.06
SHP_1014,0.020,17702,17702,9.0,0.750,-66.780,264.6300,4.00
SHP_1015,0.060,17831,17831,34.0,0.370,41.310,239.3000,2.83
SHP_1016,0.000,17831,17831,38.0,0.400,-45.750,260.4100,5.35
SHP_1017,0.030,18179,18179,50.0,0.500,1207.910,3075.8300,1.99
SHP_1018,0.040,18179,18179,24.0,0.370,16.100,73.3700,0.99
SHP_1019,0.000,18179,18179,50.0,0.380,221.590,527.6000,1.79
SHP_102,0.010,12096,12096,23.0,0.590,2176.190,4689.6600,11.54
SHP_1020,0.080,19044,19044,32.0,0.380,1912.920,4800.4400,13.99
SHP_1021,0.070,19044,19044,29.0,0.600,-191.090,271.3300,9.45
SHP_1022,0.000,19462,19462,2.0,0.810,-156.470,206.6800,35.00
SHP_1023,0.075,19936,19936,30.0,0.435,145.745,575.9750,1.74
SHP_1024,0.040,19972,19972,6.0,0.390,-21.090,97.8600,8.99
...,...,...,...,...,...,...,...,...
SHP_972,0.000,8801,8801,32.0,0.740,-673.310,2593.0800,48.20
SHP_973,0.060,8801,8801,25.0,0.590,371.210,2529.3960,3.00
SHP_974,0.030,8992,8992,10.5,0.575,13.165,891.6965,13.64
SHP_975,0.080,8992,8992,14.0,0.600,-176.790,2145.6975,4.20
SHP_976,0.100,9409,9409,12.0,0.790,-390.770,1712.6600,4.00
SHP_977,0.020,10306,10306,20.0,0.480,51.500,310.3100,7.40
SHP_978,0.100,10470,10470,35.0,0.560,-94.780,246.9800,5.21
SHP_979,0.060,10819,10819,35.0,0.370,-197.390,233.3900,9.54
SHP_98,0.000,11911,11911,25.0,0.360,-14.750,397.8400,9.73
SHP_980,0.060,10916,10916,23.0,0.390,-49.320,135.3100,5.01
SHP_981,0.000,10944,10944,9.0,0.400,-27.470,181.6600,8.51
SHP_982,0.040,11301,11301,29.0,0.700,107.450,1194.9600,4.00
SHP_983,0.070,11332,11332,6.0,0.380,-89.200,184.3310,5.99
SHP_984,0.080,11332,11332,23.0,0.580,83.570,1223.3795,5.92
SHP_985,0.040,11392,11392,28.0,0.350,28.290,128.6900,1.49
SHP_986,0.060,11745,11745,17.0,0.770,-345.360,686.2700,19.99
SHP_987,0.000,11875,11875,19.0,0.570,-36.110,242.6300,6.27
SHP_988,0.030,11907,11907,45.0,0.370,2014.820,4729.8500,14.00
SHP_989,0.000,12129,12129,36.0,0.740,-1197.580,4852.0500,70.20
SHP_99,0.080,11941,11941,4.0,0.600,-41.010,73.0700,11.25
SHP_990,0.100,12579,12579,5.0,0.390,1.070,70.3300,1.97
SHP_991,0.090,12743,12743,39.0,0.570,168.220,677.5180,0.99
SHP_992,0.000,12902,12902,9.0,0.640,-58.810,302.0500,6.50
SHP_993,0.090,13380,13380,24.0,0.560,4.850,66.1200,0.70
SHP_994,0.070,13606,13606,34.0,0.480,19.040,109.8600,0.85
SHP_995,0.030,13889,13889,49.0,0.550,2820.440,12979.1000,54.31
SHP_996,0.050,13984,13984,30.0,0.780,-870.610,2052.8200,37.58
SHP_997,0.010,13986,13986,46.0,0.540,675.650,1905.7900,1.99
SHP_998,0.000,14240,14240,24.0,0.390,1.310,68.8800,1.49
SHP_999,0.100,14276,14276,11.0,0.600,-11.130,110.7900,2.89

Note that ```df.groupby``` returns a DataFrameGroupBy object.

#### Step 2. Applying a Function

After grouping, you apply a function to a **numeric variable**, such as ```mean(Sales)```, ```sum(Profit)```, etc.

In [4]:
# Step 2. Applying a function
# We can choose aggregate functions such as sum, mean, median, etc.
df_by_segment['Profit'].sum()

Customer_Segment
CONSUMER          287959.94
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01
Name: Profit, dtype: float64

Notice that we have indexed the ```Profit``` column in the DataFrameGroupBy object exactly as we index a normal column in a dataframe. Alternatively, you could also use ```df_by_segment.Profit```.

In [5]:
# Alternatively
df_by_segment.Profit.sum()

Customer_Segment
CONSUMER          287959.94
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01
Name: Profit, dtype: float64

So this tells us that profits are the least in the CONSUMER segment, and highest in the CORPORATE segment.

In [6]:
# For better readability, you may want to sort the summarised series:
df_by_segment.Profit.sum().sort_values(ascending = False)

Customer_Segment
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01
CONSUMER          287959.94
Name: Profit, dtype: float64

#### Step 3. Combining the results into a Data Structure

You can optionally show the results as a dataframe.

In [7]:
# Converting to a df
pd.DataFrame(df_by_segment['Profit'].sum())

                     Profit
Customer_Segment
CONSUMER          287959.94
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01

In [8]:
# Let's go through some more examples
# E.g.: Which product categories are the least profitable?

# 1. Group by product category
by_product_cat = master_df.groupby('Product_Category')

In [9]:
# 2. This time, let's compare average profits
# Apply mean() on Profit
by_product_cat['Profit'].mean()

Product_Category
FURNITURE           68.116607
OFFICE SUPPLIES    112.369074
TECHNOLOGY         429.207516
Name: Profit, dtype: float64

FURNITURE is the least profitable, TECHNOLOGY the most. Let's see which product sub-cetgories within FURNITURE are less profitable.

In [10]:
# E.g.: Which product categories and sub-categories are the least profitable?
# 1. Group by category and sub-category
by_product_cat_subcat = master_df.groupby(['Product_Category', 'Product_Sub_Category'])
by_product_cat_subcat['Profit'].mean()

Product_Category  Product_Sub_Category
FURNITURE         BOOKCASES                         -177.683228
                  CHAIRS & CHAIRMATS                 387.693601
                  OFFICE FURNISHINGS                 127.446612
                  TABLES                            -274.411357
OFFICE SUPPLIES   APPLIANCES                         223.866498
                  BINDERS AND BINDER ACCESSORIES     335.970918
                  ENVELOPES                          195.864228
                  LABELS                              47.490174
                  PAPER                               36.949551
                  PENS & ART SUPPLIES                 11.950679
                  RUBBER BANDS                        -0.573575
                  SCISSORS, RULERS AND TRIMMERS      -54.161458
                  STORAGE & ORGANIZATION              12.205403
TECHNOLOGY        COMPUTER PERIPHERALS               124.389815
                  COPIERS AND FAX                   1923.695287
                  OFFICE MACHINES                    913.094748
                  TELEPHONES AND COMMUNICATION       358.948607
Name: Profit, dtype: float64

Thus, within FURNITURE, TABLES are the least profitable, followed by BOOKCASES.

In [11]:
# Recall the df.describe() method?
# To apply multiple functions simultaneously, you can use the describe() function on the grouped df object
by_product_cat['Profit'].describe()

,count,mean,std,min,25%,50%,75%,max
Product_Category,,,,,,,,
FURNITURE,1724.0,68.116607,1112.923257,-11053.60,-281.3550,-14.250,187.1600,8614.79
OFFICE SUPPLIES,4610.0,112.369074,744.617939,-2175.09,-57.0225,-3.845,56.9475,11535.28
TECHNOLOGY,2065.0,429.207516,1863.208375,-14140.70,-88.9400,66.220,561.1300,27220.69

In [12]:
# Some other summary functions to apply on groups
by_product_cat['Profit'].count()

Product_Category
FURNITURE          1724
OFFICE SUPPLIES    4610
TECHNOLOGY         2065
Name: Profit, dtype: int64

In [13]:
by_product_cat['Profit'].min()

Product_Category
FURNITURE         -11053.60
OFFICE SUPPLIES    -2175.09
TECHNOLOGY        -14140.70
Name: Profit, dtype: float64

In [14]:
# E.g. Customers in which geographic region are the least profitable?
master_df.groupby('Region').Profit.mean()

Region
ATLANTIC                 221.259870
NORTHWEST TERRITORIES    255.464670
NUNAVUT                   35.963418
ONTARIO                  189.960865
PRARIE                   188.253294
QUEBEC                   179.803649
WEST                     149.175595
YUKON                    136.253155
Name: Profit, dtype: float64

In [15]:
# Note that the resulting object is a Series, thus you can perform vectorised computations on them

# E.g. Calculate the Sales across each region as a percentage of total Sales
# You can divide the entire series by a number (total sales) easily 
(master_df.groupby('Region').Sales.sum() / sum(master_df['Sales']))*100

Region
ATLANTIC                 13.504305
NORTHWEST TERRITORIES     5.369193
NUNAVUT                   0.780233
ONTARIO                  20.536970
PRARIE                   19.022396
QUEBEC                   10.124936
WEST                     24.119372
YUKON                     6.542595
Name: Sales, dtype: float64

The regions ONTARIO, WEST and PRARIE comprise of about 64% of the sales.

Until now, we've been working with the data without making changes or additions to it. In the next section, we will create new columns, alter existing columns and apply some more grouping and summarising.